*{
    color: aliceblue;
}

body{
    text-align: center;
    margin: 0;
    color: white;
    /*min-height: 100vh;*/
}

div{
    background: black;
    padding: 10px;
}

#menu{
    margin: 5px;
    background-color: darkslategrey;
}

li{
    padding: 10px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

p{
    margin: 5px;
    font-size: 20px;
}

h1:not(#nom),
h2:not(#cv),
h3{
    margin: 5px;
    background-color: darkslategray;
}